body {
  background-color: #fcded1;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  color: rgb(9, 38, 67);
}
a {
  color: rgb(80, 6, 80);
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
.images {
  max-width: 80%;
}
